body{
    background-color: rgba(216, 202, 202, 0.59);
    padding: 20px 40px 40px 20px;
}
p{
    font-size: 30px;
    font-family: "Arial Narrow"
}
span{
    color: black;
    font-size: 50px;
    font-family: sans-serif;
    width: 60px;
    height: 40px;
    background-color:lightgrey;
    background-attachment: fixed;
    padding: 20px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    display: inline-block
}


