@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    overflow: hidden;
    font-family: "Inter", sans-serif;
}
.wrapper_page_not_found{
    background: #161622;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_left{
    width: 396px;
    height: 396px;
    flex-shrink: 0;
    border-radius: 396px;
    border: 48px solid #6F1DF4;
    opacity: 0.5;
    position: absolute;
    top: -210px;
    left: -200px;
}
.circle_right{
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 260px;
    border: 48px solid #6F1DF4;
    opacity: 0.5;
    position: absolute;
    top: -20px;
    right: -120px;
}
.page_not_found{
     text-align: center;
}
.page_not_found h2{
    color: rgba(255, 255, 255, 0.90);
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: 140px;
    letter-spacing: -0.5px;
}
.page_not_found h3{
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.25px;
    margin: 30px 0 24px 0;
}
.page_not_found p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    width: 533px;
}
.page_not_found div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 40px;
}
.page_not_found div button:nth-child(1){
    display: flex;
    height: 64px;
    padding: 0 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #6F1DF4;
    /*for text*/
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.page_not_found div button:nth-child(2){
    display: flex;
    height: 64px;
    padding: 0 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #FFF;
    /*for text*/
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}